body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 16px;
  padding-right: 16px;
}

.gender-label-color {
  color: #282c34;
}

table.data_color.table.table-striped {
  color: #282c34;
}

tr.width_update input {
  width: 100% !important;
}
